/*!
 * Start Bootstrap - Modern Business (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

/* Global Styles */

html,
body {
    height: 100%;
    background-color: #000000;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

#logo{
    height: 50px;
}

.indexbox{
    background-color: #050505;
    border-radius: 0px;
    border-color: transparent;
    
    
}

.indexbox img{
    border-top-left-radius: 3px;
    border-top-right-radius:3px;
    opacity: 0.5;
}

.indexbox img:hover{
    opacity: 1;
    transition-duration: 0.5s;
    
    
}

.indexbox h3{
    color: white;
    font-weight: bold;
}

.indexbox a{
    font-weight: bold;
    letter-spacing: normal;
}


.indexbox p{
    color: white;
}

.jumbotron
{
    background-image: url(../images/jumbotron.jpg);
	background-position: 0% 25%;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
    background-color: black;
    height: 500px;
    
}

.defaultbutton{
    background-color: #E10F0F;
    color: white;
    text-decoration: none;
    outline: none;
    border:none;
    border-radius: 0px;
    font-family: 'Montserrat', sans-serif;
    padding: 7px;
}


.defaultbutton:hover{
    background-color: #A60D0D;
    transition-duration: 1s;
    color: white;
  
}

.defaultbutton:focus {
    color: white;
    outline:none;
}



.defaultbuttondark{
    background-color: #262626;
    color: white;
    text-decoration: none;
    outline: none;
    border:none;
    border-radius: 0px;
    font-family: 'Montserrat', sans-serif;
}

.defaultbuttondark:hover{
    background-color: #0B0B0B;
    color: white;
    transition-duration: 1s;
}


.defaultbuttondark:focus {
    color: white;
    outline:none;
}


.jumbotron h2
{
    font-size:40px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
    
}

.jumbotronspacing
{
    font-size:6px;
    font-family: 'Montserrat', sans-serif;
    width: 50%;

}

.jumbotronhelp{
    background-color: #F1F1F1;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

.jumbotronhelp h1{
    font-weight: bold;
    margin-left: 20px;
    position: relative;
    top: 15px;

}

.jumbotronhelp h4{
    font-weight: bold;
    margin-left: 20px;
    position: relative;
    top: 15px;

    

}

.jumbotronhelp ul{
    margin-top: 40px;
}

/* Main Page Carousel */
.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}



.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.sizer {
    width: 80%;
    margin: 0 auto;
}

/* */

.openinghours{
    text-decoration: none;
    color: black;
    font-weight: bold;
    
    
}

.openinghours:hover{
    text-decoration: none;
    color: #F54F4F;
    transition-duration: 0.8s;
}

.landinglink{
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
}

.landinglink:hover{
    color: red; 
    transition-duration: 0.8s;
    text-decoration: none;
}

.defaultfont{
    font-family: 'Montserrat', sans-serif;
}

.defaultfontbold{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}


.container .jumbotron, .container-fluid .jumbotron {
  border-radius: 0px;
}

.navbarlink{
    font-family: 'Titillium Web', sans-serif;
    font-weight:bold;
    font-size: 16px;
    letter-spacing: 1px;
    
}

.color{
    color: black;
}

.quotes{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.panelhead{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}


#img3{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.emailbutton{
    color:#4B4A4A;
    
    font-size:25px;
}

.emailbutton:hover{
    color: #E51010; 
    font-size:25px;
    transition-duration: 1s;
}


/* tab color */
.nav-tabs>li>a {
  background-color: #111111; 
  border-color: #777777;
  color:#fff;
}

/* active tab color */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #fff;
  background-color: #E51010;
  border: 1px solid #888888;
}

/* hover tab color */
.nav-tabs>li>a:hover {
  border-color: #000000;
  background-color: #1A1A1A;
}


.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Prices Styles */
f

/*PRICE COLOR CODE START*/
#generic_price_table .generic_content{
	background-color: #fff;
}

#generic_price_table .generic_content .generic_head_price{
	background-color: #f6f6f6;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg{
	border-color: #e4e4e4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e4e4e4;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head span{
	color: #525252;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign{
    color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency{
    color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent{
    color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .month{
    color: #414141;
}

#generic_price_table .generic_content .generic_feature_list ul li{
	color: #a7a7a7;
    
}

#generic_price_table .generic_content .generic_feature_list ul li span{
	color: #414141;
}
#generic_price_table .generic_content .generic_feature_list ul li:hover{
	background-color: #E4E4E4;
	border-left: 5px solid #FF1010;
}

#generic_price_table .generic_content .generic_price_btn a{
	border: 1px solid #FF1010; 
    color: #FF1010;
} 

#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg{
	border-color: #E51010 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #EC1010;

	color: #fff;
}

#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head span,
#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head span{
	color: #fff;
}

#generic_price_table .generic_content:hover .generic_price_btn a,
#generic_price_table .generic_content.active .generic_price_btn a{
	background-color: #FF1010;
	color: #fff;
} 
#generic_price_table{
	margin: 50px 0 50px 0;

}
.row .table{
    padding: 28px 0;
}

/*PRICE BODY CODE START*/

#generic_price_table .generic_content{
	overflow: hidden;
	position: relative;
	text-align: center;
}

#generic_price_table .generic_content .generic_head_price {
	margin: 0 0 20px 0;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content{
	margin: 0 0 50px 0;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg{
    border-style: solid;
    border-width: 90px 1411px 23px 399px;
	position: absolute;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head{
	padding-top: 40px;
	position: relative;
	z-index: 1;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head span{
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag{
	padding: 0 0 20px;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price{
	display: block;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 400;
    vertical-align: middle;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency{
    font-family: "Lato",sans-serif;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 60px;
    padding: 0;
    vertical-align: middle;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    vertical-align: bottom;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .month{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    vertical-align: bottom;
}

#generic_price_table .generic_content .generic_feature_list ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

#generic_price_table .generic_content .generic_feature_list ul li{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	padding: 15px 0;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table .generic_content .generic_feature_list ul li:hover{
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;

}
#generic_price_table .generic_content .generic_feature_list ul li .fa{
	padding: 0 10px;
}
#generic_price_table .generic_content .generic_price_btn{
	margin: 20px 0 32px;
}

#generic_price_table .generic_content .generic_price_btn a{
    border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	-webkit-border-radius: 50px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    outline: medium none;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
}

#generic_price_table .generic_content,
#generic_price_table .generic_content:hover,
#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content .generic_head_price .generic_head_content .head h2,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head h2,
#generic_price_table .generic_content .price,
#generic_price_table .generic_content:hover .price,
#generic_price_table .generic_content .generic_price_btn a,
#generic_price_table .generic_content:hover .generic_price_btn a{
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
} 
@media (max-width: 320px) {	
}

@media (max-width: 767px) {
	#generic_price_table .generic_content{
		margin-bottom:75px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#generic_price_table .col-md-3{
		float:left;
		width:50%;
	}
	
	#generic_price_table .col-md-4{
		float:left;
		width:50%;
	}
	
	#generic_price_table .generic_content{
		margin-bottom:75px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
#generic_price_table_home{
	 font-family: 'Montserrat', sans-serif;
}

.text-center h1,
.text-center h1 a{
	color: #7885CB;
	font-size: 30px;
	font-weight: 300;
	text-decoration: none;
}
.demo-pic{
	margin: 0 auto;
}
.demo-pic:hover{
	opacity: 0.7;
}

#generic_price_table_home ul{
	margin: 0 auto;
	padding: 0;
	list-style: none;
	display: table;
}
#generic_price_table_home li{
	float: left;
}
#generic_price_table_home li + li{
	margin-left: 10px;
	padding-bottom: 10px;
}
#generic_price_table_home li a{
	display: block;
	width: 50px;
	height: 50px;
	font-size: 0px;
}


#generic_price_table_home:hover{
	border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .divider{
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	padding: 20px;
}
#generic_price_table_home .divider span{
	width: 100%;
	display: table;
	height: 2px;
	background: #ddd;
	margin: 50px auto;
	line-height: 2px;
}
#generic_price_table_home .itemname{
	text-align: center;
	font-size: 50px ;
	padding: 50px 0 20px ;
	border-bottom: 1px solid #ddd;
	margin-bottom: 40px;
	text-decoration: none;
    font-weight: 300;
}
#generic_price_table_home .itemnametext{
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
    text-transform: uppercase;
    display: inline-block;
}
#generic_price_table_home .footer{
	padding:40px 0;
}

.price-heading{
    text-align: center;
}
.price-heading h1{
	color: #666;
	margin: 0;
	padding: 0 0 50px 0;
}
.demo-button {
    background-color: #333333;
    color: #ffffff;
    display: table;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium ;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}
.bottom_btn{
	background-color: #333333;
    color: #ffffff;
    display: table;
    font-size: 28px;
    margin: 60px auto 20px;
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
}
.demo-button:hover{
	background-color: #666;
	color: #FFF;
	text-decoration:none;
	
}
.bottom_btn:hover{
	background-color: #666;
	color: #FFF;
	text-decoration:none;
}

*/
/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

#map {
    height: 400px;
    width: 100%;
}

#map2 {
    height: 400px;
    width: 100%;
}


footer{
     margin-top: 30px;
     background-color: #060606;
     padding:30px 0px;
    
}	       

.logo{
    color:#FFF;
    font-weight:700;
    font-size:30px;
}

.address span , .menu span{
   color: #FFF; 
   font-weight: bold; 
   border-bottom: 1px solid #c7c7c7; 
   padding:10px 0px;
   display: block;
   text-transform: uppercase;
   font-size: 16px;
   letter-spacing: 3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 16px;
    color: white;
}
 
.address li a , .menu li a{
    color:#FFF;
    letter-spacing: 3px;
    text-decoration:none;
    font-size:14px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}

.address li, .menu li{
    margin:20px 0px;
    list-style: none;
}

.address li a:hover , .menu li a:hover{
    color: #FF1010;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.address .fa{
    color: #da3e44;
    margin-right: 10px;
    font-size:18px;
}

.scrollToTop{
	width:50px; 
	height:50px;
	padding:1px; 
	text-decoration: none;
	position:fixed;
	bottom: 50px;
	right:40px;
    display: none;
    background-color: transparent;
    border-color: transparent;
    outline: 0;
    z-index: 1;
}

.scrollToTop img{
    height: 60px;
    outline: 0;
}

@media (min-width:320px)  { 
    .jumbotron{
        height: 700px;
    }
    .jumbotronspacing{
        width: 100%;
    }

}

@media (min-width:481px)  { 
    .jumbotron{
        height: 500px;
    }
    .jumbotronspacing{
        width: 100%;
    }
}


@media (min-width:641px)  { 
    .jumbotron{
        height: 500px;
    }
    .jumbotronspacing{
        width: 100%;
    }

}



@media (min-width:961px)  { 
    .jumbotron{
        height: 500px;
    }
    
    .jumbotron h2{
        margin-top: 110px;;
    }
    
    .jumbotronspacing{
        width: 100%;
    }
    

}
@media (min-width:1025px) { 
    .jumbotron{
        height: 500px;
    }
    .jumbotronspacing{
        width: 100%;
    }

}

.profile-header-container{
    margin: 0 auto;
    text-align: center;
}

.profile-header-img {
    padding: 4px;
    margin-top: -5px;
}

.profile-header-img > img.img-circle {
    width: 100px;
    height: 100px;
 
}

/**
 * Ranking component
 */
.rank-label-container {
    /* z-index: 1000; */    
    margin-bottom: 6px;
    margin-top: 7px;
    background-color: transparent;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}



.card {
  box-shadow: 0px 0px 31px -9px rgba(0,0,0,0.75);
  max-width: 500px;
  padding: 10px;
  margin: auto;
  text-align: center;
  font-family: arial;
  font-family: 'Montserrat', sans-serif;
}

.title {
  color: grey;
  font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.userinfobutton {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px;
  color: white;
  background-color: #E10F0F;
  text-align: center;
  width: 100%;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  cursor:default;
    margin-top: 10px;
    
}

.card h1{
    font-size: 30px;
}

.changepic{
    width: 100%;
    background-color: transparent;
    color: black;
    font-weight: bold;
    outline: none;
    border: none;
    margin-top: 5px;
}

.changepic:hover{

    outline: none;
}

.changepic:focus{

    outline: none;
}

.tablepad{
    padding: 3px;
}

.positioning{
    position: relative;
    left: 20px;
}